{% extends "account.blog" %}


{% block user_area %}


    {{ form_open({'route' :'account.storeProductCategory', 'method' :'POST'}) }}





<div class="form-row">

    <div class="form-group col-md-6">
        
        <input placeholder="name" type="text" name="name" class="form-control" value="">

    </div>
</div>



<a href="{{ route('account.getCategory') }}" class="btn btn-secondary">Back</a>
        <input class="btn btn-primary" type="submit" value="Save">
       
        
    {{ form_close() }}
{% endblock %}